@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

:root {
	--yellow: #f4d04e;
	--white: #ffffff;
	--gray: #808080;
	--black: #121212;
}

* {
	box-sizing: border-box;
	color: var(--black);
	font-family: 'Figtree', 'Arial';
	font-weight: 600;
	margin: 0px;
	padding: 0px;
}

.main {
	align-items: center;
	background-color: var(--yellow);
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-evenly;
}

.card {
	background-color: var(--white);
	border: 1px solid var(--black);
	border-radius: 20px;
	box-shadow: 8px 8px 0 0 #000;
	display: flex;
	flex-direction: column;
	height: 522px;
	justify-content: space-between;
	max-width: 384px;
	min-width: 282px;
	padding: 24px;
}

.card__image {
	border-radius: 10px;
	display: block;
	height: 200px;
	object-fit: cover;
	width: 100%;
}

.card__text {
	align-items: start;
	display: flex;
	flex-direction: column;
	height: 194px;
	justify-content: space-between;
}

.card__category {
	background-color: var(--yellow);
	border-radius: 4px;
	display: inline-block;
	font-size: 0.875rem;
	padding: 4px 12px;
}

.card__published,
.card__published-time {
	font-size: 0.875rem;
}

.card__title {
	font-size: 1.5rem;
}

.card__title:hover {
	color: var(--yellow);
	cursor: pointer;
}

.card__description {
	font-size: 1rem;
	line-height: 1.5rem;
}

.author {
	align-items: center;
	display: flex;
}

.author__photo {
	border-radius: 50%;
	height: 32px;
	width: 32px;
}

.author__name {
	font-size: 0.875rem;
	margin-left: 12px;
}

@media (max-width: 400px) {
	.card {
		height: 501px;
		width: 87.2%;
	}

	.card__category,
	.card__published,
	.card__published-time {
		font-size: 0.75rem;
	}

	.card__title {
		font-size: 1.25rem;
	}

	.card__description,
	.author__name {
		font-size: 0.875rem;
	}

	.main__title, .attribution {
		display: none;
	}
}

.bold {
	font-weight: 800;
}

.gray {
	color: var(--gray);
}

a {
	color: #4E5EF5;
	text-decoration: none;
}

a:hover {
	color: #8C36F5;
}

.main__title, .attribution {
height: 45px;
}